<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: head('管理系统平台')"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <th:block th:include="include :: header"></th:block>
    <!-- 左侧导航区域 -->
    <div class="layui-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="lay-nav" lay-accordion="true">
                <li class="layui-nav-item">
                    <a lay-url="welcome.html" lay-id="home" lay-tips="主页" lay-direction="2">
                        <i class="layui-icon layui-icon-home"></i>
                        <cite>首页</cite>
                    </a>
                </li>
                <li class="layui-nav-item" th:each="menu : ${menus}">
                    <a th:lay-url="${menu.url}" th:lay-id="${menu.id}">
                        <i th:classappend="${menu.icon}?:'layui-icon ri-menu-add-line'"></i>
                        <cite th:text="${menu.name}">${menu.name}</cite>
                    </a>
                    <dl class="layui-nav-child" th:if="${not #lists.isEmpty(menu.children)}">
                        <dd th:each="cmenu : ${menu.children}">
                            <a th:lay-url="${cmenu.url}" th:lay-id="${cmenu.id}">
                                <i th:classappend="${cmenu.icon}?:'layui-icon ri-menu-add-line'"></i>
                                <cite th:text="${cmenu.name}">二级菜单</cite>
                            </a>
                            <dl class="layui-nav-child" th:if="${not #lists.isEmpty(cmenu.children)}">
                                <dd th:each="emenu : ${cmenu.children}">
                                    <a th:lay-url="${emenu.url}" th:lay-id="${emenu.id}">
                                        <i th:classappend="${emenu.icon}?:'layui-icon ri-menu-add-line'"></i>
                                        <cite th:text="${emenu.name}">三级菜单</cite>
                                    </a>
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="layui-body">
        <div class="layui-pagetabs">
            <div class="layui-icon admin-tabs-control layui-icon-refresh-3" lay-event="refresh"></div>
            <div class="layui-tab" lay-unauto lay-allowclose="true" lay-filter="lay-tab">
                <ul class="layui-tab-title">
                    <li lay-id="home" lay-url="/admin/welcome" class="layui-this">
                        <i class="layui-icon layui-icon-home"></i>
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src="/admin/welcome" class="layui-iframe" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer"></th:block>
</div>
</body>
</html>