<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: head('做题吧 - 首页')"></head>
<body class="layui-layout">
<th:block th:include="include :: main_head"></th:block>
<div id="LAY_MAIN" class="layui-container">
    <div class="layui-row layui-form" style="margin: 2px;;">
        <h1 style="text-align: center;font-size: 28px;color: #333;margin: 20px 0;">探索知识，收听意见</h1>
        <input type="hidden" name="username" th:if="${session.username!= null}" th:value="${session?.username}"/>
        <div class="layui-form-item" th:unless="${session.username!= null}">
            <input type="text" name="username" lay-verify="required" placeholder="请输入昵称" class="layui-input"/>
        </div>
        <div class="layui-form-item" style="position: relative;">
            <textarea id="content" name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
            <button class="layui-btn layui-btn-primary layui-border-purple comments-issue" lay-submit lay-filter="submit-form">发表</button>
        </div>
    </div>
    <div class="news layui-row">
        <div class="layui-col-xs12 comments-info" th:each="comment : ${comments}">
            <div class="layui-col-md1 layui-col-sm1 layui-col-xs2 laytable-cell-space">
                <img src="/images/logo.png" alt="头像" style="width: 40px; height: 40px; border-radius: 50%;">
            </div>
            <div class="layui-col-md10 layui-col-sm10 layui-col-xs6">
                <div class="layui-col-md2">
                    <div style="font-weight: bold;" th:text="${comment.username}">用户名</div>
                    <div style="color: #999; font-size: 12px;" th:text="${#dates.format(comment.ctime, 'yyyy-MM-dd HH:mm:ss')}">留言时间</div>
                </div>
                <div class="layui-col-md10" th:text="${comment.content}">内容</div>
            </div>
            <div class="layui-col-md1 layui-col-sm1 layui-col-xs4 layui-btn-container layui-table-pagebar">
                <button class="layui-btn layui-btn-xs layui-btn-primary layui-border-green" th:data-id="${comment.id}"
                        th:text="${likes == null ?false: likes.get(comment.id)} ? '已点赞' : '点赞'">点赞
                </button>
            </div>
        </div>
    </div>
    <div class="comments-more"><a th:href="@{/comments}" class="layui-btn layui-btn-primary layui-border-purple">更多</a></div>
</div>
<th:block th:include="include :: main_foot"></th:block>
<script>
    layui.extend({layEditor: 'js/layEditor'}).use(['jquery', 'form', 'layEditor'], function ($, form, editor) {
        form.on('submit(submit-form)', function (obj) {
            $.post('/comments/save', obj.field, function (data) {
                advices(data, parent);
            }, 'json').fail(function (event) {
                toError(event);
            });
        });

        editor.init({
            elem: '#content',
            uploadUrl: 'https://upload-z1.qiniup.com',
            videoUploadUrl: 'https://upload-z1.qiniup.com',
            videoUploadSize: '102400',
            uploadSize: '4096',
            style: 'fangge',
        });

        $('.news').on('click', '.layui-btn', function (e) {
            e.stopPropagation();
            var $btn = $(this);
            var infoId = $btn.attr("data-id");
            if ($btn.hasClass('layui-border-green')) {
                $.post('/comments/like', {commentId: infoId}, function (res) {
                    advices(res);
                    if ($btn.text() === "点赞") {
                        $btn.text("已点赞");
                    } else {
                        $btn.text("点赞");
                    }
                }, 'json').fail(function (event) {
                    toError(event);
                });
            }
        });
    });
</script>
</body>
</html>