<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.LmsExamLogDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.LmsExamLog">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CTIME" jdbcType="TIMESTAMP" property="ctime" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="EXAM_ROOM_ID" jdbcType="BIGINT" property="examRoomId" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="TOTAL_QUESTIONS" jdbcType="INTEGER" property="totalQuestions" />
    <result column="CORRECT_QUESTIONS" jdbcType="INTEGER" property="correctQuestions" />
    <result column="WRONG_QUESTIONS" jdbcType="INTEGER" property="wrongQuestions" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CTIME, USER_ID, EXAM_ROOM_ID, SCORE, START_TIME, END_TIME, TOTAL_QUESTIONS, CORRECT_QUESTIONS, 
    WRONG_QUESTIONS
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lms_exam_log
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from lms_exam_log
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.fit.entity.LmsExamLog">
    insert into lms_exam_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="examRoomId != null">
        EXAM_ROOM_ID,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="totalQuestions != null">
        TOTAL_QUESTIONS,
      </if>
      <if test="correctQuestions != null">
        CORRECT_QUESTIONS,
      </if>
      <if test="wrongQuestions != null">
        WRONG_QUESTIONS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="examRoomId != null">
        #{examRoomId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalQuestions != null">
        #{totalQuestions,jdbcType=INTEGER},
      </if>
      <if test="correctQuestions != null">
        #{correctQuestions,jdbcType=INTEGER},
      </if>
      <if test="wrongQuestions != null">
        #{wrongQuestions,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.LmsExamLog">
    update lms_exam_log
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="examRoomId != null">
        EXAM_ROOM_ID = #{examRoomId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalQuestions != null">
        TOTAL_QUESTIONS = #{totalQuestions,jdbcType=INTEGER},
      </if>
      <if test="correctQuestions != null">
        CORRECT_QUESTIONS = #{correctQuestions,jdbcType=INTEGER},
      </if>
      <if test="wrongQuestions != null">
        WRONG_QUESTIONS = #{wrongQuestions,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and id != ''">
         and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="ctime != null ">
         and CTIME &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and CTIME &lt;= #{etime } 
      </if>
      <if test="userId != null and userId != ''">
         and USER_ID = #{userId,jdbcType=BIGINT}
      </if>
      <if test="examRoomId != null and examRoomId != ''">
         and EXAM_ROOM_ID = #{examRoomId,jdbcType=BIGINT}
      </if>
      <if test="score != null and score != ''">
         and SCORE = #{score,jdbcType=DECIMAL}
      </if>
      <if test="ctime != null ">
         and START_TIME &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and START_TIME &lt;= #{etime } 
      </if>
      <if test="ctime != null ">
         and END_TIME &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and END_TIME &lt;= #{etime } 
      </if>
      <if test="totalQuestions != null and totalQuestions != ''">
         and TOTAL_QUESTIONS = #{totalQuestions,jdbcType=INTEGER}
      </if>
      <if test="correctQuestions != null and correctQuestions != ''">
         and CORRECT_QUESTIONS = #{correctQuestions,jdbcType=INTEGER}
      </if>
      <if test="wrongQuestions != null and wrongQuestions != ''">
         and WRONG_QUESTIONS = #{wrongQuestions,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM lms_exam_log
    <include refid="Base_Where_List" />
    order by ID desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page - 1) * limit'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM lms_exam_log
    <include refid="Base_Where_List" />
  </select>
  <select id="selectBySQL" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${value}
  </select>
  <delete id="batchDelete" parameterType="[Ljava.lang.String;">
    <foreach close=")" collection="array" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table lms_exam_log
  </update>
</mapper>