<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.LmsQuestionAnswerUserDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.LmsQuestionAnswerUser">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CTIME" jdbcType="TIMESTAMP" property="ctime" />
    <result column="CUSER" jdbcType="BIGINT" property="cuser" />
    <result column="EXAM_ROOM_ID" jdbcType="BIGINT" property="examRoomId" />
    <result column="EXAM_ROOM_NAME" jdbcType="VARCHAR" property="examRoomName" />
    <result column="SUBJECT_NAME" jdbcType="VARCHAR" property="subjectName" />
    <result column="TOTAL_SCORE" jdbcType="VARCHAR" property="totalScore" />
    <result column="ANSWER_SCORE" jdbcType="VARCHAR" property="answerScore" />
    <result column="DURATION" jdbcType="VARCHAR" property="duration" />
    <result column="ENABLED" jdbcType="BIT" property="enabled" />
    <result column="ETIME" jdbcType="TIMESTAMP" property="etime" />
    <result column="EUSER" jdbcType="BIGINT" property="euser" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CTIME, CUSER, EXAM_ROOM_ID, EXAM_ROOM_NAME, SUBJECT_NAME, TOTAL_SCORE, ANSWER_SCORE, 
    DURATION, ENABLED, ETIME, EUSER
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lms_question_answer_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from lms_question_answer_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.fit.entity.LmsQuestionAnswerUser">
    insert into lms_question_answer_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="examRoomId != null">
        EXAM_ROOM_ID,
      </if>
      <if test="examRoomName != null">
        EXAM_ROOM_NAME,
      </if>
      <if test="subjectName != null">
        SUBJECT_NAME,
      </if>
      <if test="totalScore != null">
        TOTAL_SCORE,
      </if>
      <if test="answerScore != null">
        ANSWER_SCORE,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="etime != null">
        ETIME,
      </if>
      <if test="euser != null">
        EUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=BIGINT},
      </if>
      <if test="examRoomId != null">
        #{examRoomId,jdbcType=BIGINT},
      </if>
      <if test="examRoomName != null">
        #{examRoomName,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null">
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=VARCHAR},
      </if>
      <if test="answerScore != null">
        #{answerScore,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=TIMESTAMP},
      </if>
      <if test="euser != null">
        #{euser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.LmsQuestionAnswerUser">
    update lms_question_answer_user
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=BIGINT},
      </if>
      <if test="examRoomId != null">
        EXAM_ROOM_ID = #{examRoomId,jdbcType=BIGINT},
      </if>
      <if test="examRoomName != null">
        EXAM_ROOM_NAME = #{examRoomName,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null">
        SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        TOTAL_SCORE = #{totalScore,jdbcType=VARCHAR},
      </if>
      <if test="answerScore != null">
        ANSWER_SCORE = #{answerScore,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        DURATION = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=BIT},
      </if>
      <if test="etime != null">
        ETIME = #{etime,jdbcType=TIMESTAMP},
      </if>
      <if test="euser != null">
        EUSER = #{euser,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and id != ''">
         and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="ctime != null ">
         and CTIME &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and CTIME &lt;= #{etime } 
      </if>
      <if test="cuser != null and cuser != ''">
         and CUSER = #{cuser,jdbcType=BIGINT}
      </if>
      <if test="examRoomId != null and examRoomId != ''">
         and EXAM_ROOM_ID = #{examRoomId,jdbcType=BIGINT}
      </if>
      <if test="examRoomName != null and examRoomName != ''">
         and EXAM_ROOM_NAME = #{examRoomName,jdbcType=VARCHAR}
      </if>
      <if test="subjectName != null and subjectName != ''">
         and SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR}
      </if>
      <if test="totalScore != null and totalScore != ''">
         and TOTAL_SCORE = #{totalScore,jdbcType=VARCHAR}
      </if>
      <if test="answerScore != null and answerScore != ''">
         and ANSWER_SCORE = #{answerScore,jdbcType=VARCHAR}
      </if>
      <if test="duration != null and duration != ''">
         and DURATION = #{duration,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null and enabled != ''">
         and ENABLED = #{enabled,jdbcType=BIT}
      </if>
      <if test="ctime != null ">
         and ETIME &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and ETIME &lt;= #{etime } 
      </if>
      <if test="euser != null and euser != ''">
         and EUSER = #{euser,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM lms_question_answer_user
    <include refid="Base_Where_List" />
    order by ID desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM lms_question_answer_user
    <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from lms_question_answer_user where ID in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table lms_question_answer_user
  </update>
</mapper>