<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.SysFilesDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.SysFiles">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CTIME" jdbcType="TIMESTAMP" property="ctime" />
    <result column="CUSER" jdbcType="BIGINT" property="cuser" />
    <result column="FILE_MOLD" jdbcType="INTEGER" property="fileMold" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_SUFFIX" jdbcType="VARCHAR" property="fileSuffix" />
    <result column="FILE_DATA" jdbcType="VARCHAR" property="fileData" />
    <result column="ENABLED" jdbcType="BIT" property="enabled" />
    <result column="ISYS" jdbcType="INTEGER" property="isys" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CTIME, CUSER, FILE_MOLD, FILE_NAME, FILE_SUFFIX, FILE_DATA, ENABLED, ISYS
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_files
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from sys_files
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.fit.entity.SysFiles">
    insert into sys_files
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="fileMold != null">
        FILE_MOLD,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="fileSuffix != null">
        FILE_SUFFIX,
      </if>
      <if test="fileData != null">
        FILE_DATA,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="isys != null">
        ISYS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=BIGINT},
      </if>
      <if test="fileMold != null">
        #{fileMold,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null">
        #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileData != null">
        #{fileData,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="isys != null">
        #{isys,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.SysFiles">
    update sys_files
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=BIGINT},
      </if>
      <if test="fileMold != null">
        FILE_MOLD = #{fileMold,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null">
        FILE_SUFFIX = #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileData != null">
        FILE_DATA = #{fileData,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=BIT},
      </if>
      <if test="isys != null">
        ISYS = #{isys,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and id != ''">
         and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="ctime != null ">
         and CTIME &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and CTIME &lt;= #{etime } 
      </if>
      <if test="cuser != null and cuser != ''">
         and CUSER = #{cuser,jdbcType=BIGINT}
      </if>
      <if test="fileMold != null and fileMold != ''">
         and FILE_MOLD = #{fileMold,jdbcType=INTEGER}
      </if>
      <if test="fileName != null and fileName != ''">
         and FILE_NAME = #{fileName,jdbcType=VARCHAR}
      </if>
      <if test="fileSuffix != null and fileSuffix != ''">
         and FILE_SUFFIX = #{fileSuffix,jdbcType=VARCHAR}
      </if>
      <if test="fileData != null and fileData != ''">
         and FILE_DATA = #{fileData,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null and enabled != ''">
         and ENABLED = #{enabled,jdbcType=BIT}
      </if>
      <if test="isys != null and isys != ''">
         and ISYS = #{isys,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sys_files
    <include refid="Base_Where_List" />
    order by ID desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page - 1) * limit'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM sys_files
    <include refid="Base_Where_List" />
  </select>
  <select id="selectBySQL" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${value}
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from sys_files where ID in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table sys_files
  </update>
</mapper>