<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.SysOperationLogDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.SysOperationLog">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CTIME" jdbcType="TIMESTAMP" property="ctime" />
    <result column="LOG_TYPE" jdbcType="VARCHAR" property="logType" />
    <result column="LOG_NAME" jdbcType="VARCHAR" property="logName" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="CLASS_NAME" jdbcType="VARCHAR" property="className" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="SUCCEED" jdbcType="VARCHAR" property="succeed" />
    <result column="MESSAGE" jdbcType="VARCHAR" property="message" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CTIME, LOG_TYPE, LOG_NAME, USER_ID, CLASS_NAME, `METHOD`, SUCCEED, MESSAGE
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_operation_log
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from sys_operation_log
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.fit.entity.SysOperationLog">
    insert into sys_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="logType != null">
        LOG_TYPE,
      </if>
      <if test="logName != null">
        LOG_NAME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="className != null">
        CLASS_NAME,
      </if>
      <if test="method != null">
        `METHOD`,
      </if>
      <if test="succeed != null">
        SUCCEED,
      </if>
      <if test="message != null">
        MESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="logType != null">
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        #{logName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="succeed != null">
        #{succeed,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.SysOperationLog">
    update sys_operation_log
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="logType != null">
        LOG_TYPE = #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        LOG_NAME = #{logName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="className != null">
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        `METHOD` = #{method,jdbcType=VARCHAR},
      </if>
      <if test="succeed != null">
        SUCCEED = #{succeed,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and id != ''">
         and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="ctime != null ">
         and CTIME &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and CTIME &lt;= #{etime } 
      </if>
      <if test="logType != null and logType != ''">
         and LOG_TYPE = #{logType,jdbcType=VARCHAR}
      </if>
      <if test="logName != null and logName != ''">
         and LOG_NAME = #{logName,jdbcType=VARCHAR}
      </if>
      <if test="userId != null and userId != ''">
         and USER_ID = #{userId,jdbcType=BIGINT}
      </if>
      <if test="className != null and className != ''">
         and CLASS_NAME = #{className,jdbcType=VARCHAR}
      </if>
      <if test="method != null and method != ''">
         and `METHOD` = #{method,jdbcType=VARCHAR}
      </if>
      <if test="succeed != null and succeed != ''">
         and SUCCEED = #{succeed,jdbcType=VARCHAR}
      </if>
      <if test="message != null and message != ''">
         and MESSAGE = #{message,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sys_operation_log
    <include refid="Base_Where_List" />
    order by ID desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page - 1) * limit'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM sys_operation_log
    <include refid="Base_Where_List" />
  </select>
  <select id="selectBySQL" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${value}
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from sys_operation_log where ID in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table sys_operation_log
  </update>
</mapper>