<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.SysRoleAuthDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.SysRoleAuth">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="AUTH_ID" jdbcType="BIGINT" property="authId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_ID, AUTH_ID
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_auth
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from sys_role_auth
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.fit.entity.SysRoleAuth">
    insert into sys_role_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="authId != null">
        AUTH_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="authId != null">
        #{authId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.SysRoleAuth">
    update sys_role_auth
    <set>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="authId != null">
        AUTH_ID = #{authId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and id != ''">
         and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="roleId != null and roleId != ''">
         and ROLE_ID = #{roleId,jdbcType=BIGINT}
      </if>
      <if test="authId != null and authId != ''">
         and AUTH_ID = #{authId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sys_role_auth
    <include refid="Base_Where_List" />
    order by ID desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM sys_role_auth
    <include refid="Base_Where_List" />
  </select>
  <select id="selectBySQL" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${value}
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from sys_role_auth where ID in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table sys_role_auth
  </update>
</mapper>