<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.WxAccountFansDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.WxAccountFans">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="subscribe" jdbcType="INTEGER" property="subscribe" />
    <result column="subscribe_time" jdbcType="VARCHAR" property="subscribeTime" />
    <result column="subscribe_scene" jdbcType="VARCHAR" property="subscribeScene" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="qr_scene" jdbcType="INTEGER" property="qrScene" />
    <result column="qr_scene_str" jdbcType="VARCHAR" property="qrSceneStr" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fit.entity.WxAccountFans">
    <result column="nickname" jdbcType="VARBINARY" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, open_id, subscribe, subscribe_time, subscribe_scene, head_img_url, sex, 
    `language`, country, province, city, remark, `status`, create_time, qr_scene, qr_scene_str
  </sql>
  <sql id="Blob_Column_List">
    nickname
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_account_fans
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from wx_account_fans
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.fit.entity.WxAccountFans" useGeneratedKeys="true">
    insert into wx_account_fans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="subscribe != null">
        subscribe,
      </if>
      <if test="subscribeTime != null">
        subscribe_time,
      </if>
      <if test="subscribeScene != null">
        subscribe_scene,
      </if>
      <if test="headImgUrl != null">
        head_img_url,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="language != null">
        `language`,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="qrScene != null">
        qr_scene,
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="subscribeTime != null">
        #{subscribeTime,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrScene != null">
        #{qrScene,jdbcType=INTEGER},
      </if>
      <if test="qrSceneStr != null">
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.WxAccountFans">
    update wx_account_fans
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null">
        subscribe = #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="subscribeTime != null">
        subscribe_time = #{subscribeTime,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="language != null">
        `language` = #{language,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrScene != null">
        qr_scene = #{qrScene,jdbcType=INTEGER},
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="account != null and account != ''">
         and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="openId != null and openId != ''">
         and open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="subscribe != null and subscribe != ''">
         and subscribe = #{subscribe,jdbcType=INTEGER}
      </if>
      <if test="subscribeTime != null and subscribeTime != ''">
         and subscribe_time = #{subscribeTime,jdbcType=VARCHAR}
      </if>
      <if test="subscribeScene != null and subscribeScene != ''">
         and subscribe_scene = #{subscribeScene,jdbcType=VARCHAR}
      </if>
      <if test="headImgUrl != null and headImgUrl != ''">
         and head_img_url = #{headImgUrl,jdbcType=VARCHAR}
      </if>
      <if test="sex != null and sex != ''">
         and sex = #{sex,jdbcType=INTEGER}
      </if>
      <if test="language != null and language != ''">
         and `language` = #{language,jdbcType=VARCHAR}
      </if>
      <if test="country != null and country != ''">
         and country = #{country,jdbcType=VARCHAR}
      </if>
      <if test="province != null and province != ''">
         and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null and city != ''">
         and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="remark != null and remark != ''">
         and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="status != null and status != ''">
         and `status` = #{status,jdbcType=BIT}
      </if>
      <if test="createTime != null ">
         and create_time &gt;= #{createTime }
      </if>
      <if test="createTime != null ">
         and create_time &lt;= #{createTime } 
      </if>
      <if test="qrScene != null and qrScene != ''">
         and qr_scene = #{qrScene,jdbcType=INTEGER}
      </if>
      <if test="qrSceneStr != null and qrSceneStr != ''">
         and qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR}
      </if>
      <if test="nickname != null and nickname != ''">
         and nickname = #{nickname,jdbcType=VARBINARY}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_account_fans
    <include refid="Base_Where_List" />
    order by id desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="getByObjId" resultMap="BaseResultMap" resultType="java.lang.Object">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_account_fans where id = #{obj}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM wx_account_fans
    <include refid="Base_Where_List" />
  </select>
  <insert id="batchAdd" parameterType="java.util.List">
    replace into wx_account_fans (
      id,account,open_id,subscribe,
      subscribe_time,subscribe_scene,head_img_url,sex,language,
      country,province,city,remark,status,
      create_time,qr_scene,qr_scene_str,nickname
    ) values 
    <foreach close=")" collection="list" item="v" open="(" separator=",">
      #{v.id},#{v.account},#{v.openId},#{v.subscribe},
      #{v.subscribeTime},#{v.subscribeScene},#{v.headImgUrl},#{v.sex},#{v.language},
      #{v.country},#{v.province},#{v.city},#{v.remark},#{v.status},
      #{v.createTime},#{v.qrScene},#{v.qrSceneStr},#{v.nickname}
    </foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from wx_account_fans where id in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table wx_account_fans
  </update>
</mapper>