<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.WxAccountDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.WxAccount">
    <id column="account" jdbcType="VARCHAR" property="account" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="appsecret" jdbcType="VARCHAR" property="appsecret" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="msg_count" jdbcType="INTEGER" property="msgCount" />
    <result column="refresh_interval" jdbcType="INTEGER" property="refreshInterval" />
    <result column="advance_refresh" jdbcType="INTEGER" property="advanceRefresh" />
    <result column="expires_in" jdbcType="INTEGER" property="expiresIn" />
    <result column="token_time" jdbcType="TIMESTAMP" property="tokenTime" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    account, url, `name`, appid, appsecret, token, msg_count, refresh_interval, advance_refresh, 
    expires_in, token_time, notes
  </sql>
  <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_account
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from wx_account
    where account = #{account,jdbcType=VARCHAR}
  </delete>
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.fit.entity.WxAccount" useGeneratedKeys="true">
    insert into wx_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="account != null">
        account,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="appsecret != null">
        appsecret,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="msgCount != null">
        msg_count,
      </if>
      <if test="refreshInterval != null">
        refresh_interval,
      </if>
      <if test="advanceRefresh != null">
        advance_refresh,
      </if>
      <if test="expiresIn != null">
        expires_in,
      </if>
      <if test="tokenTime != null">
        token_time,
      </if>
      <if test="notes != null">
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null">
        #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="msgCount != null">
        #{msgCount,jdbcType=INTEGER},
      </if>
      <if test="refreshInterval != null">
        #{refreshInterval,jdbcType=INTEGER},
      </if>
      <if test="advanceRefresh != null">
        #{advanceRefresh,jdbcType=INTEGER},
      </if>
      <if test="expiresIn != null">
        #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="tokenTime != null">
        #{tokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.WxAccount">
    update wx_account
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null">
        appsecret = #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="msgCount != null">
        msg_count = #{msgCount,jdbcType=INTEGER},
      </if>
      <if test="refreshInterval != null">
        refresh_interval = #{refreshInterval,jdbcType=INTEGER},
      </if>
      <if test="advanceRefresh != null">
        advance_refresh = #{advanceRefresh,jdbcType=INTEGER},
      </if>
      <if test="expiresIn != null">
        expires_in = #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="tokenTime != null">
        token_time = #{tokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
    </set>
    where account = #{account,jdbcType=VARCHAR}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="account != null and account != ''">
         and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="url != null and url != ''">
         and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
         and `name` like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="appid != null and appid != ''">
         and appid = #{appid,jdbcType=VARCHAR}
      </if>
      <if test="appsecret != null and appsecret != ''">
         and appsecret = #{appsecret,jdbcType=VARCHAR}
      </if>
      <if test="token != null and token != ''">
         and token = #{token,jdbcType=VARCHAR}
      </if>
      <if test="msgCount != null and msgCount != ''">
         and msg_count = #{msgCount,jdbcType=INTEGER}
      </if>
      <if test="refreshInterval != null and refreshInterval != ''">
         and refresh_interval = #{refreshInterval,jdbcType=INTEGER}
      </if>
      <if test="advanceRefresh != null and advanceRefresh != ''">
         and advance_refresh = #{advanceRefresh,jdbcType=INTEGER}
      </if>
      <if test="expiresIn != null and expiresIn != ''">
         and expires_in = #{expiresIn,jdbcType=INTEGER}
      </if>
      <if test="ctime != null ">
         and token_time &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and token_time &lt;= #{etime } 
      </if>
      <if test="notes != null and notes != ''">
         and notes = #{notes,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_account
    <include refid="Base_Where_List" />
    order by account desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="getByObjId" resultMap="BaseResultMap" resultType="java.lang.Object">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_account
    where account = #{obj}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM wx_account
    <include refid="Base_Where_List" />
  </select>
  <insert id="batchAdd" parameterType="java.util.List">
    insert into wx_account values 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{item.account},#{item.url},#{item.name},#{item.appid},
       #{item.appsecret},#{item.token},#{item.msgCount},#{item.refreshInterval},#{item.advanceRefresh},
       #{item.expiresIn},#{item.tokenTime},#{item.notes}
    </foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from wx_account where account in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table wx_account
  </update>
</mapper>