<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.WxMsgTemplateLogDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.WxMsgTemplateLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="touser" jdbcType="VARCHAR" property="touser" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="miniprogram" jdbcType="VARCHAR" property="miniprogram" />
    <result column="send_result" jdbcType="VARCHAR" property="sendResult" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appid, touser, template_id, `data`, url, miniprogram, send_result, send_time
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_msg_template_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from wx_msg_template_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.fit.entity.WxMsgTemplateLog" useGeneratedKeys="true">
    insert into wx_msg_template_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="touser != null">
        touser,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="data != null">
        `data`,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="miniprogram != null">
        miniprogram,
      </if>
      <if test="sendResult != null">
        send_result,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="touser != null">
        #{touser,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="miniprogram != null">
        #{miniprogram,jdbcType=VARCHAR},
      </if>
      <if test="sendResult != null">
        #{sendResult,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.WxMsgTemplateLog">
    update wx_msg_template_log
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="touser != null">
        touser = #{touser,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        `data` = #{data,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="miniprogram != null">
        miniprogram = #{miniprogram,jdbcType=VARCHAR},
      </if>
      <if test="sendResult != null">
        send_result = #{sendResult,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="appid != null and appid != ''">
         and appid = #{appid,jdbcType=VARCHAR}
      </if>
      <if test="touser != null and touser != ''">
         and touser = #{touser,jdbcType=VARCHAR}
      </if>
      <if test="templateId != null and templateId != ''">
         and template_id = #{templateId,jdbcType=VARCHAR}
      </if>
      <if test="data != null and data != ''">
         and `data` = #{data,jdbcType=VARCHAR}
      </if>
      <if test="url != null and url != ''">
         and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="miniprogram != null and miniprogram != ''">
         and miniprogram = #{miniprogram,jdbcType=VARCHAR}
      </if>
      <if test="sendResult != null and sendResult != ''">
         and send_result = #{sendResult,jdbcType=VARCHAR}
      </if>
      <if test="ctime != null ">
         and send_time &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and send_time &lt;= #{etime } 
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_template_log
    <include refid="Base_Where_List" />
    order by id desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="getByObjId" resultMap="BaseResultMap" resultType="java.lang.Object">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_template_log
    where id = #{obj}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM wx_msg_template_log
    <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from wx_msg_template_log where id in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table wx_msg_template_log
  </update>
</mapper>