<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.WxMsgTextDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.WxMsgText">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="input_code" jdbcType="VARCHAR" property="inputCode" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="favour_count" jdbcType="INTEGER" property="favourCount" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, account, msg_type, input_code, `rule`, read_count, favour_count, 
    enabled, title, content
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_msg_text
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from wx_msg_text
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.fit.entity.WxMsgText" useGeneratedKeys="true">
    insert into wx_msg_text
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="inputCode != null">
        input_code,
      </if>
      <if test="rule != null">
        `rule`,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="favourCount != null">
        favour_count,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="favourCount != null">
        #{favourCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.WxMsgText">
    update wx_msg_text
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        input_code = #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        `rule` = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="favourCount != null">
        favour_count = #{favourCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="createTime != null ">
         and create_time &gt;= #{createTime }
      </if>
      <if test="createTime != null ">
         and create_time &lt;= #{createTime } 
      </if>
      <if test="account != null and account != ''">
         and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="msgType != null and msgType != ''">
         and msg_type = #{msgType,jdbcType=VARCHAR}
      </if>
      <if test="inputCode != null and inputCode != ''">
         and input_code = #{inputCode,jdbcType=VARCHAR}
      </if>
      <if test="rule != null and rule != ''">
         and `rule` = #{rule,jdbcType=VARCHAR}
      </if>
      <if test="readCount != null and readCount != ''">
         and read_count = #{readCount,jdbcType=INTEGER}
      </if>
      <if test="favourCount != null and favourCount != ''">
         and favour_count = #{favourCount,jdbcType=INTEGER}
      </if>
      <if test="enabled != null and enabled != ''">
         and enabled = #{enabled,jdbcType=BIT}
      </if>
      <if test="title != null and title != ''">
         and title like CONCAT('%',#{title,jdbcType=VARCHAR},'%')
      </if>
      <if test="content != null and content != ''">
         and content like CONCAT('%',#{content,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_text
    <include refid="Base_Where_List" />
    order by id desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="getByObjId" resultMap="BaseResultMap" resultType="java.lang.Object">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_text where id = #{obj}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM wx_msg_text
    <include refid="Base_Where_List" />
  </select>
  <insert id="batchAdd" parameterType="java.util.List">
    replace into wx_msg_text (
      id,create_time,account,msg_type,
      input_code,rule,read_count,favour_count,enabled,
      title,content
    ) values 
    <foreach close=")" collection="list" item="v" open="(" separator=",">
      #{v.id},#{v.createTime},#{v.account},#{v.msgType},
      #{v.inputCode},#{v.rule},#{v.readCount},#{v.favourCount},#{v.enabled},
      #{v.title},#{v.content}
    </foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from wx_msg_text where id in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table wx_msg_text
  </update>
</mapper>