<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.WxMsgNewsDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.WxMsgNews">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="input_code" jdbcType="VARCHAR" property="inputCode" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="favour_count" jdbcType="INTEGER" property="favourCount" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="mult_type" jdbcType="VARCHAR" property="multType" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="show_pic" jdbcType="INTEGER" property="showPic" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="from_url" jdbcType="VARCHAR" property="fromUrl" />
    <result column="media_id" jdbcType="VARCHAR" property="mediaId" />
    <result column="thumb_media_id" jdbcType="VARCHAR" property="thumbMediaId" />
    <result column="news_index" jdbcType="INTEGER" property="newsIndex" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, account, msg_type, input_code, `rule`, read_count, favour_count, 
    enabled, mult_type, title, author, brief, description, pic_path, show_pic, url, from_url, 
    media_id, thumb_media_id, news_index
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_msg_news
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from wx_msg_news
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.fit.entity.WxMsgNews" useGeneratedKeys="true">
    insert into wx_msg_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="inputCode != null">
        input_code,
      </if>
      <if test="rule != null">
        `rule`,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="favourCount != null">
        favour_count,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="multType != null">
        mult_type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="picPath != null">
        pic_path,
      </if>
      <if test="showPic != null">
        show_pic,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="fromUrl != null">
        from_url,
      </if>
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="thumbMediaId != null">
        thumb_media_id,
      </if>
      <if test="newsIndex != null">
        news_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="favourCount != null">
        #{favourCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="multType != null">
        #{multType,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="showPic != null">
        #{showPic,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="fromUrl != null">
        #{fromUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null">
        #{thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="newsIndex != null">
        #{newsIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.WxMsgNews">
    update wx_msg_news
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        input_code = #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        `rule` = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="favourCount != null">
        favour_count = #{favourCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="multType != null">
        mult_type = #{multType,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null">
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="showPic != null">
        show_pic = #{showPic,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="fromUrl != null">
        from_url = #{fromUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        media_id = #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null">
        thumb_media_id = #{thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="newsIndex != null">
        news_index = #{newsIndex,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="createTime != null ">
         and create_time &gt;= #{createTime }
      </if>
      <if test="createTime != null ">
         and create_time &lt;= #{createTime } 
      </if>
      <if test="account != null and account != ''">
         and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="msgType != null and msgType != ''">
         and msg_type = #{msgType,jdbcType=VARCHAR}
      </if>
      <if test="inputCode != null and inputCode != ''">
         and input_code = #{inputCode,jdbcType=VARCHAR}
      </if>
      <if test="rule != null and rule != ''">
         and `rule` = #{rule,jdbcType=VARCHAR}
      </if>
      <if test="readCount != null and readCount != ''">
         and read_count = #{readCount,jdbcType=INTEGER}
      </if>
      <if test="favourCount != null and favourCount != ''">
         and favour_count = #{favourCount,jdbcType=INTEGER}
      </if>
      <if test="enabled != null and enabled != ''">
         and enabled = #{enabled,jdbcType=BIT}
      </if>
      <if test="multType != null and multType != ''">
         and mult_type = #{multType,jdbcType=VARCHAR}
      </if>
      <if test="title != null and title != ''">
         and title like CONCAT('%',#{title,jdbcType=VARCHAR},'%')
      </if>
      <if test="author != null and author != ''">
         and author = #{author,jdbcType=VARCHAR}
      </if>
      <if test="brief != null and brief != ''">
         and brief = #{brief,jdbcType=VARCHAR}
      </if>
      <if test="description != null and description != ''">
         and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="picPath != null and picPath != ''">
         and pic_path = #{picPath,jdbcType=VARCHAR}
      </if>
      <if test="showPic != null and showPic != ''">
         and show_pic = #{showPic,jdbcType=INTEGER}
      </if>
      <if test="url != null and url != ''">
         and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="fromUrl != null and fromUrl != ''">
         and from_url = #{fromUrl,jdbcType=VARCHAR}
      </if>
      <if test="mediaId != null and mediaId != ''">
         and media_id = #{mediaId,jdbcType=VARCHAR}
      </if>
      <if test="thumbMediaId != null and thumbMediaId != ''">
         and thumb_media_id = #{thumbMediaId,jdbcType=VARCHAR}
      </if>
      <if test="newsIndex != null and newsIndex != ''">
         and news_index = #{newsIndex,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_news
    <include refid="Base_Where_List" />
    order by id desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="getByObjId" resultMap="BaseResultMap" resultType="java.lang.Object">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_news
    where id = #{obj}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM wx_msg_news
    <include refid="Base_Where_List" />
  </select>
  <insert id="batchAdd" parameterType="java.util.List">
    insert into wx_msg_news values 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{item.id},#{item.createTime},#{item.account},#{item.msgType},
       #{item.inputCode},#{item.rule},#{item.readCount},#{item.favourCount},#{item.enabled},
       #{item.multType},#{item.title},#{item.author},#{item.brief},#{item.description},
       #{item.picPath},#{item.showPic},#{item.url},#{item.fromUrl},#{item.mediaId},
       #{item.thumbMediaId},#{item.newsIndex}
    </foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from wx_msg_news where id in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table wx_msg_news
  </update>
</mapper>