<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.WxMsgReplyRuleDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.WxMsgReplyRule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="match_value" jdbcType="VARCHAR" property="matchValue" />
    <result column="exact_match" jdbcType="BIT" property="exactMatch" />
    <result column="reply_type" jdbcType="VARCHAR" property="replyType" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="effect_time_start" jdbcType="TIME" property="effectTimeStart" />
    <result column="effect_time_end" jdbcType="TIME" property="effectTimeEnd" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appid, rule_name, match_value, exact_match, reply_type, reply_content, enabled, 
    notes, effect_time_start, effect_time_end, priority, utime
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_msg_reply_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from wx_msg_reply_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.fit.entity.WxMsgReplyRule" useGeneratedKeys="true">
    insert into wx_msg_reply_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="ruleName != null">
        rule_name,
      </if>
      <if test="matchValue != null">
        match_value,
      </if>
      <if test="exactMatch != null">
        exact_match,
      </if>
      <if test="replyType != null">
        reply_type,
      </if>
      <if test="replyContent != null">
        reply_content,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="effectTimeStart != null">
        effect_time_start,
      </if>
      <if test="effectTimeEnd != null">
        effect_time_end,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="utime != null">
        utime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="matchValue != null">
        #{matchValue,jdbcType=VARCHAR},
      </if>
      <if test="exactMatch != null">
        #{exactMatch,jdbcType=BIT},
      </if>
      <if test="replyType != null">
        #{replyType,jdbcType=VARCHAR},
      </if>
      <if test="replyContent != null">
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="effectTimeStart != null">
        #{effectTimeStart,jdbcType=TIME},
      </if>
      <if test="effectTimeEnd != null">
        #{effectTimeEnd,jdbcType=TIME},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.WxMsgReplyRule">
    update wx_msg_reply_rule
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="matchValue != null">
        match_value = #{matchValue,jdbcType=VARCHAR},
      </if>
      <if test="exactMatch != null">
        exact_match = #{exactMatch,jdbcType=BIT},
      </if>
      <if test="replyType != null">
        reply_type = #{replyType,jdbcType=VARCHAR},
      </if>
      <if test="replyContent != null">
        reply_content = #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="effectTimeStart != null">
        effect_time_start = #{effectTimeStart,jdbcType=TIME},
      </if>
      <if test="effectTimeEnd != null">
        effect_time_end = #{effectTimeEnd,jdbcType=TIME},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="utime != null">
        utime = #{utime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="appid != null and appid != ''">
         and appid = #{appid,jdbcType=VARCHAR}
      </if>
      <if test="ruleName != null and ruleName != ''">
         and rule_name = #{ruleName,jdbcType=VARCHAR}
      </if>
      <if test="matchValue != null and matchValue != ''">
         and match_value = #{matchValue,jdbcType=VARCHAR}
      </if>
      <if test="exactMatch != null and exactMatch != ''">
         and exact_match = #{exactMatch,jdbcType=BIT}
      </if>
      <if test="replyType != null and replyType != ''">
         and reply_type = #{replyType,jdbcType=VARCHAR}
      </if>
      <if test="replyContent != null and replyContent != ''">
         and reply_content = #{replyContent,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null and enabled != ''">
         and enabled = #{enabled,jdbcType=BIT}
      </if>
      <if test="notes != null and notes != ''">
         and notes = #{notes,jdbcType=VARCHAR}
      </if>
      <if test="effectTimeStart != null and effectTimeStart != ''">
         and effect_time_start = #{effectTimeStart,jdbcType=TIME}
      </if>
      <if test="effectTimeEnd != null and effectTimeEnd != ''">
         and effect_time_end = #{effectTimeEnd,jdbcType=TIME}
      </if>
      <if test="priority != null and priority != ''">
         and priority = #{priority,jdbcType=INTEGER}
      </if>
      <if test="ctime != null ">
         and utime &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and utime &lt;= #{etime } 
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_reply_rule
    <include refid="Base_Where_List" />
    order by id desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="getByObjId" resultMap="BaseResultMap" resultType="java.lang.Object">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_msg_reply_rule
    where id = #{obj}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM wx_msg_reply_rule
    <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from wx_msg_reply_rule where id in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table wx_msg_reply_rule
  </update>
</mapper>