<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.WxUserDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.WxUser">
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="appid" jdbcType="CHAR" property="appid" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="subscribe_time" jdbcType="TIMESTAMP" property="subscribeTime" />
    <result column="subscribe" jdbcType="TINYINT" property="subscribe" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="tagid_list" jdbcType="VARCHAR" property="tagidList" />
    <result column="subscribe_scene" jdbcType="VARCHAR" property="subscribeScene" />
    <result column="qr_scene_str" jdbcType="VARCHAR" property="qrSceneStr" />
  </resultMap>
  <sql id="Base_Column_List">
    openid, appid, phone, nickname, sex, city, province, avatar_url, subscribe_time, 
    subscribe, unionid, notes, tagid_list, subscribe_scene, qr_scene_str
  </sql>
  <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_user
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from wx_user
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.fit.entity.WxUser" useGeneratedKeys="true">
    insert into wx_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openid,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="subscribeTime != null">
        subscribe_time,
      </if>
      <if test="subscribe != null">
        subscribe,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="tagidList != null">
        tagid_list,
      </if>
      <if test="subscribeScene != null">
        subscribe_scene,
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=TINYINT},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="tagidList != null">
        #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null">
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.WxUser">
    update wx_user
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribe != null">
        subscribe = #{subscribe,jdbcType=TINYINT},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="tagidList != null">
        tagid_list = #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="openid != null and openid != ''">
         and openid = #{openid,jdbcType=VARCHAR}
      </if>
      <if test="appid != null and appid != ''">
         and appid = #{appid,jdbcType=CHAR}
      </if>
      <if test="phone != null and phone != ''">
         and phone = #{phone,jdbcType=CHAR}
      </if>
      <if test="nickname != null and nickname != ''">
         and nickname = #{nickname,jdbcType=VARCHAR}
      </if>
      <if test="sex != null and sex != ''">
         and sex = #{sex,jdbcType=TINYINT}
      </if>
      <if test="city != null and city != ''">
         and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="province != null and province != ''">
         and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="avatarUrl != null and avatarUrl != ''">
         and avatar_url = #{avatarUrl,jdbcType=VARCHAR}
      </if>
      <if test="ctime != null ">
         and subscribe_time &gt;= #{ctime }
      </if>
      <if test="etime != null ">
         and subscribe_time &lt;= #{etime } 
      </if>
      <if test="subscribe != null and subscribe != ''">
         and subscribe = #{subscribe,jdbcType=TINYINT}
      </if>
      <if test="unionid != null and unionid != ''">
         and unionid = #{unionid,jdbcType=VARCHAR}
      </if>
      <if test="notes != null and notes != ''">
         and notes = #{notes,jdbcType=VARCHAR}
      </if>
      <if test="tagidList != null and tagidList != ''">
         and tagid_list = #{tagidList,jdbcType=VARCHAR}
      </if>
      <if test="subscribeScene != null and subscribeScene != ''">
         and subscribe_scene = #{subscribeScene,jdbcType=VARCHAR}
      </if>
      <if test="qrSceneStr != null and qrSceneStr != ''">
         and qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_user
    <include refid="Base_Where_List" />
    order by openid desc
    <if test="page != null and limit != null">
      <bind name='offset' value='(page != null and page > 1) ? ((page - 1) * limit) : 0'/>
      limit ${offset.intValue()}, ${limit}
    </if>
  </select>
  <select id="getByObjId" resultMap="BaseResultMap" resultType="java.lang.Object">
    SELECT 
    <include refid="Base_Column_List" />
    FROM wx_user
    where openid = #{obj}
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    SELECT count(1) FROM wx_user
    <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from wx_user where openid in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteTable">
    truncate table wx_user
  </update>
</mapper>